.window-label {
    -unity-text-align: upper-left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: rgb(196, 196, 196);
    background-color: rgb(42, 42, 42);
}

GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(0, 0, 0, 0.25);
    --thick-line-color: rgba(0, 0, 0, 0.5);
    --spacing: 15;
}

InspectorView > .unity-imgui-container {
    border-bottom-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    padding-bottom: 5px;
    padding-top: 0;
}

#left-view-label {
    min-height: auto;
    background-color: rgb(42, 42, 42);
    height: 18px;
}

#active-minimap > .unity-toggle__label {
    min-width: 50px;
}

.graphView > .graphElement > .unity-label {
    color: rgb(255, 241, 97);
}

.unity-two-pane-split-view > #right-panel > .graphView > .blackboard > .mainContainer > #content > #header > #labelContainer > #titleLabel {
}
